src/teametrics/data/examples/ref
src/teametrics/data/examples/dec_indicator_variables
src/teametrics/data/examples/ctp_indicator_variables
src/teametrics/data/examples/daily_basis_variables
__pycache__
*.un~
.idea/
*.log
/dist/
/tests/tea_examples/
/internal/config/WEGC/*_wegnet.yaml
*.swp
/poetry.toml
/internal/config/paper_data
/internal/config/Africa
/src/teametrics/tea_examples/*.nc
/src/tea_examples/dec_indicator_variables/amplification/*.nc
/src/tea_examples/ctp_indicator_variables/*.nc
/src/tea_examples/daily_basis_variables/*.nc
/src/tea_examples/dec_indicator_variables/*.nc
/plots/paper-figs/*.png
/plots/paper-figs/misc/*.png
/internal/config/WEGC/ERA5_AT_Tx25.yaml
